<!-- <form class="contact-form border rounded contact-form">
        <div class="form-row align-items-center">
            <div class="col-md-8 center-form">
                <label class="sr-only" for="inlineFormInputGroup">Email</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><fa [name]="'envelope'"></fa></div>
                            </div>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="{{'mail' | translate}}" required>
                    </div>
            </div>
        </div>

        <div class="form-row align-items-center">
          <div class="col-md-8 center-form">
            <label class="sr-only" for="inlineFormInputGroup">Asunto</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><fa [name]="'quote-right'"></fa></div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="{{'subject' | translate}}" required>
            </div>
          </div>
        </div>

          <div class="form-row align-items-center">
                <div class="col-md-8 center-form">
                  <label class="sr-only" for="inlineFormInputGroup">Cuerpo</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><fa [name]="'font'"></fa></div>
                    </div>
                    <textarea class="span6 form-control" rows="6" placeholder="{{'body' | translate}}" id="inlineFormInputGroup"  required></textarea>
                  </div>
                </div>
            </div>
            <div class="form-row align-items-center">
          <div class="col-auto center-form">
            <button type="submit" class="btn btn-secondary mb-2">{{'send' | translate}}</button>
          </div>
        </div>

      </form> -->
<div class="row">
  <div class="col-md-12">
  <div class="card center-form mt-4" style="width:20rem;">
      <img class="card-img-top" src="../../../assets/img/user.jpg">
      <div class="card-body">
        <p class="card-text">
                <fa [name]="'address-card'" [size]=1 class="m-2 align-middle"></fa>Álvaro Romero Ayala<br>
                <fa [name]="'phone'" [size]=1 class="m-2 align-middle"></fa>+34-676871087<br>
                <fa [name]="'envelope-open'" [size]=1 class="m-2 align-middle"></fa>sarebok@gmail.com <br>
                <fa [name]="'building'" [size]=1 class="m-2 align-middle"></fa>Murcia - Spain                
        </p>
      </div>
    </div>
  </div>
</div>