<footer id="sticky-footer" class="bg-dark footer text-center text-white">
   
 <div class="row footer-center">
     <div class="col-md-12">
        <a href="https://es.linkedin.com/in/%C3%A1lvaro-romero-ayala-82226412b"><fa [name]="'linkedin'" [size]=2 class="m-2"></fa></a>
        <a href="www.twitter.com/sarebok"><fa [name]="'twitter'" [size]=2 class="m-2" ></fa></a>
        <a href="www.twitter.com/sarebok85"><fa [name]="'instagram'" [size]=2 class="m-2"></fa></a>
        <a href="https://github.com/Sarebok85"><fa [name]="'github'" [size]=2 class="m-2"></fa></a>
     </div>
 </div>
</footer>


