<h3 class="text-white">Front</h3>

<div class="container text-white">
    <div class="row">
      <div class="col-sm">
            <p class="text-justify">{{'skills.front' | translate }}</p>
    </div>
      <div class="col-sm">
        <div class="progress">
            <div class="progress-bar-striped bg-info font-weight-bold" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="text-left ml-1">HTML5</span></div>
        </div>
        <div class="progress">
            <div class="progress-bar-striped bg-info font-weight-bold" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="text-left ml-1">JAVASCRIPT</span></div>
        </div>
        <div class="progress">
            <div class="progress-bar-striped bg-info font-weight-bold" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="text-left ml-1">JQUERY</span></div>
        </div>
        <div class="progress">
            <div class="progress-bar-striped bg-info font-weight-bold" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="text-left ml-1">ANGULAR2</span></div>
        </div>
        <div class="progress">
            <div class="progress-bar-striped bg-info font-weight-bold" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="text-left ml-1">REACT</span></div>
        </div>
        <div class="progress">
            <div class="progress-bar-striped bg-info font-weight-bold" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="text-left ml-1">CSS</span></div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="text-white">Back</h3>

  <div class="container text-white">
      <div class="row">
        <div class="col-sm">
            <p class="text-justify">{{'skills.back' | translate }}</p>        
        </div>
        <div class="col-sm">
          <div class="progress">
              <div class="progress-bar-striped bg-success font-weight-bold" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="text-left ml-1">JAVA / SPRING (FW) (BOOT) / JPA</span></div>
          </div>
          <div class="progress">
              <div class="progress-bar-striped bg-success font-weight-bold" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="text-left ml-1">.NET CORE + EF</span></div>
          </div>
          <div class="progress">
              <div class="progress-bar-striped bg-success font-weight-bold" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="text-left ml-1">NODE JS</span></div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="text-white">{{'other' | translate}}</h3>

    <div class="container text-white">
        <div class="row">
          <div class="col-sm">
            <p class="text-justify">{{'skills.others' | translate }}</p>              
        </div>
          <div class="col-sm">
            <div class="progress">
                <div class="progress-bar-striped bg-danger font-weight-bold" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="text-left ml-1">GESTION DE EQUIPOS</span></div>
            </div>
            <div class="progress">
                <div class="progress-bar-striped bg-danger font-weight-bold" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="text-left ml-1">SCRUM</span></div>
            </div>
            <div class="progress">
                <div class="progress-bar-striped bg-danger font-weight-bold" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span class="text-left ml-1">KANBAN</span></div>
            </div>
          </div>
        </div>
      </div>