/* You can add global styles to this file, and also import other style files */
body {
   /* background-color:#50514F;*/
/* The image used */
background-image: url("./assets/img/back.jpg");
  
/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  }

  ::-webkit-scrollbar {
    display: none;
}

  .footer {

    height:60px; 
    width: 100%; 
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    vertical-align: center;

}   

  .content {
    padding-top: 60px;
    padding-bottom: 70px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background: rgb(89, 90, 87);
    opacity:90%;
    min-height: calc(100vh - 50px);
 
  }

h3 {
    margin-top: 2%;
    margin-left: 2%;
    font: white;
  }

  .progress {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
  }

  .contact-form {
    padding: 10px;
    background-color:#50514F;

  }

  .center-form {
    margin: 0 auto;
  }

  .footer-center {
    height: 100%;
    align-content: center;
  }

  a, a:hover, a:active, a:visited { color: white; cursor: pointer; }

  .size-img-about{
    height: 150px;
  }

  .bg {
    /* The image used */
    background-image: url("/src/assets/img/back.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }